.page-header {
  @include pxRem(padding, 10);
  background: map-get($colors, bg-gray);
  text-align: center;
}

.font-size-strong {
  font-size: 14px;
  font-weight: 600;
}




.header-top {
  min-height: 44px;
  background-color: map-get($map: $colors, $key: txt-black);
  color: map-get($map: $colors, $key: white);
  font-size: 14px;
  padding: 10px 0;
  .header-container {
    .header-mid {
      font-size: map-get($map: $font-weight, $key: normal);
    }

    .header-end {
      button {
        border: none;
        background-color: map-get($map: $colors, $key: txt-black);
        color: map-get($map: $colors, $key: white);
        font-size: small;
      }
    }
  }
  
}

.header-bottom {
  height: 80px;
  position: relative;
  .header-bottom-container {
    height: 80px;
    
    .logo {
      flex-grow: 1;
    }
   
    
    .group-btn {
      flex-grow: 1;
      display: flex;
      justify-content: end;
      font-size: 28px;
      font-weight: 500;
      .bx {
        padding: 0 8px;
      }
    }
  }
  
}
nav {
  flex-grow: 8;
  text-align: center;
  .list-menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .item-menu {
      display: inline-block;
      font-size: 8px;
      font-weight: 500;
      .link-item {
        padding: 0 17.5px;
        text-transform: uppercase;
        color: #222;
        font-size: 16px;
      }
      .link-item:hover {
        color: map-get($map: $colors, $key: txt-orange);
      }
    }
  }
}
.btn-openmenu {
  font-size: 25px;
  flex-grow: 12;
  display: none;
}