.block-formuser {
  border-radius: 5px;
  width: 40%;
  background-color: #f2f2f2;
  padding: 20px;
  margin:0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 4, 8, 0.2);
  label {
    display: inline-block;
    margin: 0 0 10px 10px;
  }
  .row {
    padding: 10px 0;
  }
  .col {
    display: flex;
  }
  .col-12 {
    display: flex;
  }
  .col-12 input,
  textarea {
    width: 100%;
    border: none;
  }
  .col-12 input {
    height: 30px;
  }
  .col-6 select {
    width: 50%;
    height: 30px;
  }
  .col-12 input[type="submit"] {
    background-color: #04aa6d;
    color: #fff;
    cursor: pointer;
  }
  .btn-register {
    margin: 0 10px;
    color: map-get($map: $colors, $key: brand-css);
  }
}
