.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

form {
  min-width: 500px;
  background-color: #f1f1f1;
  padding: 3rem;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 4, 8, 0.2);

}

.row {
  padding: 10px 0;
}

.col {
  display: flex;
}

.col-12 {
  display: flex;
}

.col-12 input,textarea {
  width: 100%;
  border: none;
}

.col-12 input {
  height: 30px;
}

.col-6 select {
  width: 50%;
  height: 30px;
}

.col-12 input[type=submit] {
  background-color: #04AA6D;
  color: #fff;
  cursor: pointer;
}

.listuser {
  min-width: 800px;
  align-self: flex-start;
  margin-top: 10px;
}

table {
  width: 100%;
  text-align: center;
}

.btn-delete {
  width: 80px;
  height: 30px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-delete:hover {
  opacity: 0.8;
}

.notification {
  color: #f44336;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_paginate {
  display: inline-block;
  width: 50px;
}

.link_paginate {
  text-decoration: none;
  color: #333;
}

.active {
  color: aqua;
}

.list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.list-menu .item-menu {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.link-item{
  text-decoration: none;
  color: #333;
}

.link-item:hover{
  color: #6dc76e;
}
